<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/user.xml" />
        <mapper resource="mapper/schedule.xml" />
        <mapper resource="mapper/portfolio.xml"/>
        <mapper resource="mapper/fund.xml"/>
        <mapper resource="mapper/financial_title.xml"/>
        <mapper resource="mapper/financial_data.xml"/>
        <mapper resource="mapper/financial_track.xml"/>
        <mapper resource="mapper/leads.xml"/>
        <mapper resource="mapper/meeting_records.xml"/>
    </mappers>
</configuration>